<%- include('header.ejs') %>

    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">View Admin</h4>

                            <div class="table-responsive">
                                <table id="zero_config" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Name</th>
                                            <th>Last</th>
                                            <th>Email</th>
                                            <th>Password</th>
                                            <th>Phone</th>
                                            <th>Gender</th>
                                            <th>Hobby</th>
                                            <th>City</th>
                                            <th>about</th>
                                            <th>Image</th>
                                            <th colspan="2">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <% allAdmin.forEach((admin, index)=> { %>
                                            <tr>
                                                <td>
                                                    <%= index + 1 %>
                                                </td>
                                                <td>
                                                    <%= admin.fname %>
                                                </td>
                                                <td>
                                                    <%= admin.lname %>
                                                </td>
                                                <td>
                                                    <%= admin.email %>
                                                </td>
                                                <td>
                                                    <%= admin.password %>
                                                </td>
                                                <td>
                                                    <%= admin.phone %>
                                                </td>
                                                <td>
                                                    <%= admin.gender %>
                                                </td>
                                                <td>
                                                    <%= admin.hobby %>
                                                </td>
                                                <td>
                                                    <%= admin.city %>
                                                </td>
                                                <td>
                                                    <%= admin.about %>
                                                </td>

                                                <td>
                                                    <img src="/<%= admin.profile_image %>" width="60">
                                                </td>

                                                <td>
                                                    <a href="/delete?adminId=<%= admin.id %>"
                                                        class="btn btn-danger btn-sm">
                                                        Delete
                                                    </a>
                                                </td>

                                                <td>
                                                    <a href="/editAdmin/<%= admin.id %>" class="btn btn-warning btn-sm">
                                                        Edit
                                                    </a>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer.ejs') %>